/* Footer.css */
.footer {
  position: static;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #000;
  background-color: #FFFF00;
  padding: 10px;
  text-align: center;
}

.footer p {
  margin: 5px 0;
  color:#000;
}

/* static | relative | absolute | sticky | fixed */